<% 
var files = {}
var storage = widget.storage
%>

<style>
    .content-wrapper {
        color: #e0e1e6;
        background-color: #151238;
        overflow-y: scroll;
    }
    .dashboard-container {
        height:50vh;
        padding: 18px 0px 18px 0px;
    }
    .card {
        background-color: #273050;
        color: #e0e1e6;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
    }
    .flex-1 {
        flex: 1;
    }
    .flex-2 {
        flex: 2;
    }
</style>

<div class="row dashboard-container">
        <div class="col-md-5 flex-column">
            <div class="card flex-2">
                <div class="card-body">
                     Sign ups
                </div>
            </div>
            <div class="card flex-1">
                <div class="card-body">
                     Widget Added
                </div>
            </div>
        </div>
        <div class="col-md-4 flex-column">
            <div class="card flex-1">
                <div class="card-body">
                     MRR
                </div>
            </div>
        </div>
        <div class="col-md-3 flex-column">
            <div class="card flex-1">
                <div class="card-body">
                     Stat
                </div>
            </div>
        </div>    
</div>

<!-- <script>
    $(function(){
        $('#background_color').colorpicker()
        $('#background_color').on('colorpickerChange', function(event) {
            $('.background_color .fa-square').css('color', event.color.toString());
        });
        $('.background_color .fa-square').css('color', $('#background_color').val());

        $('#alert_delay').ionRangeSlider({
            min     : 0,
            max     : 30,
            type    : 'single',
            step    : 1,
            postfix : 's',
            prettify: false,
            hasGrid : true
        })
    })
    
    function Test() {
        socket.emit('widget', {
            id: "gif",
            message: $("#message").val()
        });
    }
</script> -->