<div class="row">
    <div class="col-12">
      <!-- Default box -->
      <div class="card">

        <div class="card-body">
          twitch tools admin
        </div>

      </div>
      <!-- /.card -->
    </div>
  </div>